@import 'vars';
@import 'fonts';

html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing:inherit;
}

body{
    min-width: 320px;
    overflow-x: hidden;
}

.container{
    padding:0 20px;
}
@media (min-width: 640px){
    .container{
        padding:0 30px;
    }
}
@media (min-width: 768px){
    .container{
        padding:0 40px;
    }
}
@media (min-width: 1024px){
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding:0 40px;
    }
}
@media (min-width: 1440px){
    .container{
        max-width: 1320px;
    }
}

.header{
    background-color: $accent;
    &__inner{
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media (min-width: 640px){
    .header{
        &__inner{
            min-height: 100px;
        }
    }
}

.logo__link{
    margin-left: 8px;
}
@media (min-width: 640px){
    .logo__link{
        margin-left: 14px;
    }
}
@media (min-width: 768px){
    .logo__link{
        margin-left: 0px;
    }
}

.menu__btn{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    position: relative;
    &::after{
        content: "";
        width: 12px;
        height: 2px;
        border-radius: 1px;
        background-color: $accent;
        position: absolute; 
        top: 15px;
        left: 14px;
        box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
    }
}
@media (min-width: 1440px){
    .menu__btn{
        margin-right: 90px;
    }
}